* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;

  --var--azulEscuro: rgb(19, 33, 112);
  --var--vermelhoEscuro: rgb(223, 37, 37);
}

h1 {
  text-align: left;
}

.container {
  max-width: 750px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.description {
  margin: 10px 0 10px 0;
  font-size: 12px;
}

.subTitle {
  color: var(--var--azulEscuro);
  font-size: 15px;
  margin: 15px 0 5px 0;
}

select,
.inputs,
.result {
  padding: 5px 0 5px 5px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.result {
  color: var(--var--vermelhoEscuro);
  border-color: gray;
}

.data,
.basal,
.exercise {
  margin-top: 30px;
}
